.main {
    margin: 0;
    display: flex;
    flex-direction: column;
    /*justify-content: flex-start;*/
    /*align-items: center;*/
    width: 100%;
}
.filter_panel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 2rem;
}
.input {
    background-color: #fff;
    background-size: 24px;
      padding-inline-start: 52px;
  padding-inline-end: 10px;
  padding-block: 0;
  width: 400px;
  height: 48px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  border: 1px solid transparent;
  border-radius: 4px;

}
.select {
    background-color: #fff;
    padding-inline-start: 52px; /* Adjust if you're adding an icon inside the select */
    padding-inline-end: 10px; /* Adjust as needed, especially if you have a dropdown arrow */
    padding-block: 0;
    width: 400px; /* Match the input width */
    height: 48px; /* Match the input height */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15); /* Same shadow as input */
    border: 1px solid transparent; /* Match the input border */
    border-radius: 4px; /* Match the input border-radius */
    appearance: none; /* Remove default browser styling */
    -webkit-appearance: none; /* Also for Safari */
    -moz-appearance: none; /* Also for Firefox */
    /*background-image: url('path-to-your-dropdown-icon.svg'); !* Custom dropdown icon *!*/
    background-repeat: no-repeat;
    background-position: right 10px center; /* Position for the dropdown icon */
    background-size: 24px; /* Size of the dropdown icon */
    font-size: 16px; /* Adjust as needed */
    cursor: pointer; /* Optional: Changes the cursor to a pointer */
}
/*.select option {*/
/*    text-transform: capitalize; !* This applies to all text in an option *!*/
/*}*/
@media (max-width: 768px) {
    .filter_panel {
        display: flex;
        flex-direction: column;
        gap:1rem;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 2rem;
    }
}
