
.card {
    max-width: 400px;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    cursor: pointer;
}

.flag {
  width: 100%; /* Ensures the flag image fills the width of the card */
  height: auto; /* Keeps the image aspect ratio intact */
  display: block; /* Removes bottom margin/padding of image */
  max-height: 40%; /* Limits the flag image to 40% of the card's height */
  object-fit: cover; /* Ensures the image covers the area, might crop if aspect ratio doesn't match */
}
.header {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
    text-align: left;
}
.content {
    padding: 1rem;
}
.content > * {
    white-space: nowrap; /* Prevents the text from wrapping to a new line */
    overflow: hidden; /* Hides the overflow text */
    text-overflow: ellipsis; /* Adds an ellipsis to the end of the overflow text */
    max-width: 100%; /* Ensures the content does not exceed the parent's width */
}
/*@media (max-width: 768px) {*/
/*    .card {*/
/*        grid-template-columns: 1fr; !* Single column on mobile *!*/
/*    }*/
/*}*/