.list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 4rem;
}

@media (max-width: 768px) {
    .list {
        grid-template-columns: 1fr; /* Single column on mobile */
    }
}