.main {
    display: flex;
    align-items: center;
}

.label {
    font-weight: bold;
    margin-right: 8px;
    text-transform: capitalize;
}

.value {
    color: #686868;
    text-transform: capitalize;
    text-overflow: ellipsis;
    max-width: 200px;
    white-space: nowrap; /* Prevents text from wrapping */
    overflow: hidden; /* Hides overflow text */
}
